
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #000714;
    font-family: 'Raleway', sans-serif;
}

.cont-acessorios{
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.acessorios{
    display: flex;
    position: relative;
    margin-bottom: 1px;
    margin-left: 1px;
    width: 25%;
}

.vermais-hover{
    position: absolute;
    top: 0;
    width: 100%;
    background-color: #000714c7;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    color: white;
}

.acessorios:hover .vermais-hover{
    display: flex;

}

.linhas{
    padding-bottom: 5px;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-end;
}

.topo{
    margin-bottom: 25px;
    margin-top: 45px;
    color: white;
    display: flex;
    align-items: center;
    width: 75%;
    margin-left: 12.4%;
}

.linha1{
        margin-top: 12px;
        width: 95%;
        height: 1px;
        background-color: white;
}

@media(max-width:750px){
    .topo {
    margin-left: 2.4%;
}
    .acessorios {
    width: 32%;
}
    
    .topo {
    width: 95%;
}
}
@media(max-width:450px){
.cont-acessorios {
    flex-direction: column;
}
    
    .acessorios {
    width: 85%;
}
    
    .topo {
    width: 83%;
        margin-left: 7.4%;
}
}


.vermais-hover a{
    color: white;
    cursor: pointer;
    padding: 2%;
    border: white 1px solid;
    border-radius: 8px;
}

.topo h1{
    font-weight: 300;
}


.body{
    background-color: #000714;
    display: flex;
    font-family: 'Raleway', sans-serif;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.cont-detalhe{
    padding-top: 15px;
    justify-content: center;
    z-index: 5;
    position: absolute;
    align-items: center;
    background-color: #000714eb;
    width: 100%;
    display: none;
    margin-bottom: 15px;
}

.width{
    width: 70%;
    padding-top: 25px;
    padding-bottom: 32px;
}

.cont-img{
    width: 40%;
    display: flex;
    background-color: #0000ff;
    justify-content: center;
    align-items: center;
    height: 450px;
}



.cont-text{
    background-color: white;
    position: relative;
    justify-content: center;
    height: 450px;
    width: 40%;
    align-items: center;
    display: flex;
}

.cont-text div:nth-child(2){
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
}

.text h1{
    font-size: 1.6em;
    margin-bottom: 13px;    
}

.text p{
    font-size: 1.2em;
    line-height: 27px;
}

.text a{
    position: absolute;
    right: 0;
    bottom: -46px;
    padding: 10px;
    background-color: blue;
    color: white;
    border-radius: 20px;
    text-decoration: none;
}

.close{
    border-radius: 9px;
    position: absolute;
    background-color: #e62b33;
    color: white;
    padding: 6px 3% 6px 3%;
    right: 4%;
    top: 12px;
    cursor: pointer;
}


.active{
    display: flex;
}

@media(max-width:550px){
    .cont-detalhe {
        flex-direction: column;
    }

    .cont-img {
        height: auto;
        width: 90%;
    }

    .text p {
        font-size: 1.5em;
        line-height: 37px;
    }
    .cont-text {
        width: 90%;
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
}
.form-contato{
    background-image: url(../img/caminhao-tanque.jpg);
    background-size: cover !important;
    display: flex;
    align-items: center;
    padding-left: 12%;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
}

@media (max-width:540px){
.cont-input input {
    width: 88% !important;
}
    .container-input{
        display: flex;
        background-color: #000000a6;
        height: 100%;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        padding-left: 12%;
    }

    .form-contato{
        padding-left: 0px;
        justify-content: center;
    }
}

@media (max-width:370px){
    .form-contato{
        justify-content: center;
    }
}

@media (max-width:450px){

    .info-rodape {
    position: static !important;
    margin-top: 16px;
    }
}

.container-input h1{
    font-size: 2.5em;
    color: white;
    font-weight: 300;
    margin-bottom: 25px;
}

.container-input h1 span{
    font-weight: 500;
    margin-bottom: 25px;
}

.cont-input{
    margin-bottom: 10px;
}

.cont-input input{
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    width: 400px;
    height: 40px;
    background: none;
    border: #535a61 1px solid;
    font-size: 0.8em;
    font-weight: 700;
    padding-left: 3%;
}

.enviar input{
    color: #c5c6c7;
    height: 37px;
    background: none;
    border: #535a61 1px solid;
    width: 140px;
}

.info-rodape{
    display: flex;
    align-items: center;
    color: white;
    flex-wrap: wrap;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 20px;
}

.info{
    padding-right: 4%;
    margin-top: 15px;
    margin-right: 0%;
    display: flex;
    align-items: center;
}
}

.map-rodape{
    width: 100%;
    height: 400px;
}

.mapa-bnt{
    background-image: url(../img/icon/map.png);
    background-color: white;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    position: absolute;
    right: 7%;
    bottom: 10%;
    background-size: 100%;
    background-position: center;
}

.enviar input:hover{
    background-color: blue;
    box-shadow: 0 0 50px blue;
    cursor: pointer;
}

.ocult{
    display: none;
}

/* MENU */
#container-menu {
    align-items: center;
    background: #141414;
    height: 90px;
    color: #cfcfcf;
    display: flex;
    justify-content: space-between;
    padding: 35px;
}
.contato{
    width: 100px;
    border-radius: 46px;
    background-color: #4250b4;
    text-align: center;
}
.menu ul{list-style: none;display: flex;}

.menu li{
    margin-right: 30px;
    padding: 15px 0;
    cursor: pointer;
    position: relative;
}


.menu li a{color:aliceblue;text-decoration:none;display:block;}

.menu li  ul{
    padding-top: 35px;
    width: 100%;
    z-index: 2;
    position: absolute;
    display: none;
    text-align: center;
    background: #141414;
    left: 0;
}   

    	
.menu li:hover ul, .menu li.hover ul{display:block;transition: all 8s step-start;}

.menu ul li{
    margin-right: 0;
    line-height: 15px;
}


.menu li ul li{
    float: none;
    display:block;
    border: none;
}

/*MENU ATIVO*/

.menu ul li a:link {
    color: white;
  }

.menu ul li a:active{
   cursor: pointer;
}

.menu ul li a:visited{
    background: #4250b4;
    border: 1px solid #4250b4;
    border-radius: 3px;
}


  .menu ul li a:hover{
    color: slateblue;
}

/*FIM MENU ATIVO*/




/*QUEBRA O MENU EM MODO COLUNA*/

@media (max-width: 710px){
    
    .bandeira {
        margin-top: 29px;
        position: static !important;
}
    .menu li ul {
    position: static;
}
    
    
    .sumir{
        display: none
}
    
      .aparecer{
        justify-content: center;
        display: flex !important;
        flex-direction: column;
}
    .esconderhov{
    display: none
}
    #container-menu{
    padding: 0;
    flex-direction: column;
    height: auto;
    padding-top: 25px;
    }
    .menu{
    flex-direction: column;
    border-top: #1d1d1d 1px solid;
    width: 100%;
    margin-top: 32px;
    border-bottom: #141414 1px solid;
    }

    .menu ul{
    flex-direction: column;
    }

    .menu li{
        border-radius: 0;
        border-bottom: #202020b5 1px solid;
        margin: 0;
        text-align: center;
        background: #141414;
        width: 100%;
    }
    
    
    .servicos-index {
    box-shadow: 20px 20px 54px #000308, -20px -20px 54px #000b20;
    flex-direction: column;
    text-align: center;
    margin-left: 0 !important;
}
    
}

/*FIM MEDIAS MENU*/

/*CARROSSEL*/


.carrossel img{
    width: 100%;
}

/*FIM CARROSSEL*/

/*SERVICO*/
.servicos-index{
    /* box-shadow: 20px 20px 54px #000308, -20px -20px 54px #000b20; */
    padding: 35px;
    border-radius: 10px;
    align-items: center;
    display: flex;
    margin-top: 90px;
    margin-bottom: 100px;
}

.servico-icon{
    padding-right: 3%;
}

.nossos-servicos{
    color: white;
}

.nossos-servicos p{
   font-size: 0.9em;
   line-height: 17px;
}

.box-service {
    margin-top: 135px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 255px;
}

.box1 {
    margin-bottom: 40px;
    cursor: pointer;
    background-color: white;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    border-radius: 15px;
    padding-top: 45px;
    box-shadow: 0px 0px 30px #fffdfd57;
}


.box1 img {
    margin-top: 19px;
    margin-bottom: 20px;
}

.box1 .detalhe-serv{
    display: none;
    padding-bottom: 20px;
}

.box1:hover .detalhe-serv{
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box1:hover .detalhe-serv a{
    margin-top: 15px;
    font-size: 1.2em;
    cursor: pointer;
    font-weight: 700;
}


@media(max-width:800px){
    .box-service{
        flex-direction: column;
            height: auto;
    }
}

.nossos-servicos h2 {
    font-size: 2em;
    margin-bottom: 6px;
}

ul.menu {
    display: flex;
    list-style: none;
}

.aparcerhov{
    z-index: 4;
    margin-top: 25px;
    position: absolute;
    height: 10px;
    width: 100%;
    left: 0;
    background: linear-gradient(45deg, #4250b4, transparent);
    opacity: 0;
    transition: 0.4s;
}


.efeito:hover .aparcerhov{
    opacity: 1;
}

.carrousel-aces{
    margin-right: 10px;
    position: relative;
    background-color: white;
}

.img-aces{
    width: 100%;
}

.hv-aces{
    bottom: 0;
    position: absolute;
    height: 108px;
    width: 100%;
    background-color: #4250b4e3;
    cursor: pointer;
}


.cont-aces{
    overflow: hidden;
    width: 90%;
    display: flex;
    justify-content: center;
}

.carrousel{
    display: flex;
    justify-content: center;
}

.hv-aces h1 {
    color: white;
    margin-top: 20px;
    margin-left: 20px;
}


.hv-aces a {
    border: white 1px solid;
    bottom: 0;
    position: absolute;
    color: white;
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
}


 .aparecer{
        display: none;
}

/*RODAPE*/

footer{
    position: relative;
    background-size: cover;
    margin-top: 75px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    padding: 55px;
    color: white;
    background-image: url(../img/rodape.png);
}

footer ul{
    list-style: none;
}

footer ul li{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

a{
    text-decoration: none;
    color: black
}
.box1 p {
    font-size: 1.3em;
}

.contato-fixed{color: white;z-index: 99;background-color: #0dc152;display: flex;align-items: center;justify-content: center;height: 40px;white-space: nowrap;line-height: 100%;padding: 12px 20px;border-radius: 50px;position: fixed;bottom: 20px;right: 20px;cursor: pointer;box-shadow: 0 1px 6px rgba(0, 0, 0, .06), 0 2px 32px rgba(0, 0, 0, .16);transition: box-shadow 80ms ease-in-out,width .4s ease .2s;}

.numero-fixed{
    position: absolute;
    top: -105px;
    right: 0;
    display: none;
    flex-direction: column;
    background-color: white;
    color: black;
    height: 86px;
    border-radius: 10px;
    width: 410px;
}

.box-num{
    display: flex;
    align-items: center;
     margin: 7px 15px;
    padding: 15px;
    border-radius: 10px;
}

.box-num span h3 {
    margin-bottom: 5px;
}


.box-num span p {
    font-size: 1.2em;
}

.block{
    display: flex;
}

.box-num:hover{
    background-color: bisque;
    display: flex;
    align-items: center;
   
}

.close{
    position: absolute;
    top: 10px;
    background-color: red;
    color: white;
    border-radius: 10px;
}

@media(max-width:450px){
    .numero-fixed {
    width: auto;
}
    
    footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-image: none;
    background-color: #8b8b8b;
}
    
    footer ul li {
    margin-top: 30px;
}
}

.descri-rodape{
    margin-right: 15px;
    font-weight: 700;
}


footer div ul li img {
    margin-right: 10px;
}
    

.cont-contatofixed{
    position: fixed;
    z-index: 100;
    overflow: hidden;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #0000ffb8;
}

.box-num::after {
    content: '';
    position: absolute;
    bottom: -7px;
    right: 22px;
    width: 13px;
    height: 13px;
    background: white;
    transform: rotate(45deg);
    z-index: -1;
    border: 1px solid #f5f5f5;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .02);
}

.card{
    width: 50px;
}

.bandeira {position: absolute;display: flex;bottom: 0;flex-direction: column;}

.direitos{
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #1f1f1f;
    color: white;
    width: 100%;
    height: 15px;
}

.direitos p{
    text-align: center;
    font-size: 0.7em;
}

.cards{
    display: flex;
    align-items:center;
}

.cards span{
    padding-left: 10px
}

.arrowdcircul{
    width: 31px;
    height: 30px;
}


.container-input {
    width: 100%;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}