*{
  margin: 0%;
  padding: 0;
  list-style: none;
   text-decoration: none;
}

body{
    font-family: 'Quicksand', sans-serif;
}

img{
    width: 100%;
}
.cat-lache{
    display: flex;
}

.cant-lanche{
        width: 50%;
}

.lanche{
    width: 50%;
    background-color: blue;
}

.fundo-lanche1{
    
    position: relative;
}

.fundo-lanche2{
    position: relative;
}
.cont-titulo{
    top: 14px;
    position: absolute;
}

.titulo1{
    text-align: center;
    padding: 5%;
    background-color: blue;
}

.titulo2{
        text-align: center;
    padding: 5%;
    background-color: #86ab9e;
}

.cont{
    display: flex
}

.hv-lanche{
    flex-direction: column;
    display:none;
    background-color: rgba(53, 53, 53, 0.38);
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.fundo-lanche1:hover .hv-lanche{
    display: flex
}


.hv-lanche a{
    font-size: 1em;
    font-weight: lighter;
    text-align: center;
    width: 191px;
    padding: 12px 2px 12px 2px;
    border-radius: 48px;
    color: #401b1e;
    border: 1px solid #401b1e;
}

.hv-lanche a:hover{
    background-color: #401b1e;
    color: white;
    font-size: 1.1em;
}

.sub-valor{
    font-size: 1.2em;
    margin-top: 10px
}